1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*
'hello'
-87.8
-
/
+
6

Answer: From the elements above:
        1. 'hello', -87.8, 6 are values that can be stored into a variable.
        2. *,-,/,+ are mathematical operators used for calculation purposes.

2. What is the difference between string and variable?

Answer: String is a basic datatype which can hold a single value inside double/single quotes.
        Where as Variable is an entity that helps us to store/hold different values/Datatypes.
        eg: x = 'abc'
            here x is the varibale that is holding a string value.

3. Describe three different data types.

Answer:
    Three different data types:
    1.string --> This datatype holds values/characters enclosed inside single or double quotes. eg: 'abc' or '10'
    2.Float --> This datatype holds decimal/point values within it. eg 10.4, 2.0.
    3.Integer --> This datatype holds zero/natural numbers/ ngeative numbers but non decimal within it. eg: 10, 9, 6.

4. What is an expression made up of? What do all expressions do?

Answer: Expression are combination of operators and varibale that gives some value.
        eg: x = 10 + 20
            print(x)
            
            output: 30
                
        Here '+' is the operator and x is the variable.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Answer: An expression uses operators with some values that will give a single value.
        eg: y = 2*4 
            print(y)
        Assignment statement is simply used to assign a value to a varibale.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Answer: The variabe bacon still contains the previous value which is 22 as we have not saved/assigned bacon+1.
        like this bacon = bacon+1 now it will hold 23

7. What should the values of the following two terms be?

'spam'+'spamspam'
'spam'*3

Answer: Both the terms will have the same result.
        i.e : 'spamspamspam'
        In the first example we are concatinating two string data types, Second one repeats thrice which gives the same result.

8. Why is eggs a valid variable name while 100 is invalid?

Answer: We can name a variable starting with alphabets or _ but not numbers.
        It's a rule that python follows while creating a variable

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Answer: The functions are:
        int(), float(), str() are the three functions that are used for getting  required version of a value
        eg : int() can be used for conversion of 10.4 to 10
            float() can be used for conversion of 6 to 6.0
            str() can be used for conversio of 10.4 to '10.4' or True to 'True'

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'i have eaten' + 99 + 'burritos.'

Answer: This causes an error because we are trying to concatenate different datatypes together.
        To fix it we can do typecasting of 99 to string value '99'.
        fixed one : 'i have eaten ' + str(99) + ' burritos.'
                    'i have eaten ' + '99' + ' burritos.'