1. Write a Python program to find sum of elements in list?

In [15]:
l = [1,3,22,44,5]

In [2]:
def total_sum(lst):
    s = 0
    for i in lst:
        s = s + i
        
    return s

In [3]:
total_sum(l)

75

2. Write a Python program to Multiply all numbers in the list?

In [6]:
l

[1, 3, 22, 44, 5]

In [7]:
def mul_lst(lst):
    m = 1
    for i in lst:
        m = m*i
    return m

In [9]:
mul_lst(l)

14520

3. Write a Python program to find smallest number in a list?

In [16]:
l

[1, 3, 22, 44, 5]

In [14]:
def smallest_num(lst):
    lst.sort()
    return lst[0]

In [17]:
smallest_num(l)

1

In [18]:
smallest_num([33,6,5,88,9])

5

4. Write a Python program to find largest number in a list?

In [19]:
def largest_num(lst):
    lst.sort()
    return lst[-1]

In [20]:
largest_num([1,44,5,66,2])

66

5. Write a Python program to find second largest number in a list?

In [22]:
def second_largest_num(lst):
    lst.sort()
    return lst[-2]

In [23]:
second_largest_num([1,44,5,66,2])

44

6. Write a Python program to find N largest elements from a list?

In [25]:
def n_largest_num(lst, n_element):
    lst.sort()
    return lst[-n_element]

In [26]:
n_largest_num([1,44,5,66,2], 3)

5

7. Write a Python program to print even numbers in a list?

In [27]:
def even_num(lst):
    even_lst = []
    for i in lst:
        if i %2 == 0:
            even_lst.append(i)
    return even_lst

In [28]:
even_num([33,4,5,66,7])

[4, 66]

8. Write a Python program to print odd numbers in a List?

In [29]:
def odd_num(lst):
    odd_lst = []
    for i in lst:
        if i %2 != 0:
            odd_lst.append(i)
    return odd_lst

In [30]:
odd_num([33,4,5,66,7])

[33, 5, 7]

9. Write a Python program to Remove empty List from List?

In [54]:
l1 = [1,2,3, []]

In [32]:
for i in l1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
[] <class 'list'>

In [58]:
def empty_lst_remove(lst):
    new_lst1 = []
    for i in lst:
         if i != []:
            new_lst1.append(i)
    return new_lst1

In [59]:
l1

[1, 2, 3, []]

In [60]:
empty_lst_remove(l1)

[1, 2, 3]

10. Write a Python program to Cloning or Copying a list?

In [37]:
def copy_lst(lst):
    lst_copy = lst.copy()
    return lst_copy

In [39]:
copy_lst(l1)

[1, 2, 3, []]

11. Write a Python program to Count occurrences of an element in a list?

In [52]:
def elements_count(lst, element_to_check):
    return f'the list is {lst}, the occurence for {element_to_check} is {lst.count(element_to_check)}'

In [53]:
elements_count([1,1,2,1,2,4], 1)

'the list is [1, 1, 2, 1, 2, 4], the occurence for 1 is 3'