Question 1

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [2]:
def is_symmetrical(num):
    m = str(num)
    if m == m[::-1]:
        return True
    else:
        return False

In [3]:
is_symmetrical(7227)

True

In [4]:
is_symmetrical(9939)

False

In [5]:
is_symmetrical(1112111)

True

Question 2

Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [7]:
def multiply_nums(string_of_num):
    s = string_of_num.split(',')
    mul = 1
    for i in s:
        mul = mul * int(i)
    return mul

In [8]:
multiply_nums('1,2,3,4')

24

Question 3

Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [11]:
def sqaure_digits(num):
    m = []
    for i in str(num):
        m.append(int(i))
    c= [i**2 for i in m]
    s = ''
    for i in c:
        s = s+str(i)
    return int(s)

In [12]:
sqaure_digits(9119)

811181

In [13]:
sqaure_digits(2483)

416649

Question 4

Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [14]:
def setify(lst):
    lst.sort()
    return list(set(lst))

In [15]:
setify([1,3,3,5,5])

[1, 3, 5]

In [16]:
setify([4,4,4,4])

[4]

Question 5

Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [18]:
def get_mean(num):
    l = []
    for i in str(num):
        l.append(i)
    total = sum([int(i) for i in l])
    num_of_elements = len([int(i) for i in l])
    return total/num_of_elements

In [19]:
get_mean(42)

3.0

In [20]:
get_mean(666)

6.0